<h1>Here's your post</h1>

<table>
  <tr>
    <th>Image</th>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

  <tr>
    <td class="image table">
      <%= image_tag(@post.image.url, alt: 'Image', class: 'image show') if @post.image? %>
    </td>
    <td><%= @post.username %></td>
    <td><%= @post.title %></td>
    <td><%= @post.text %></td>
    <td>
      <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <br>
        <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
</table>


<p><%= link_to 'Back', controller: '/posts' %></p>
