<!DOCTYPE html>
<html>
  <head>
    <title>Challenge do Simão</title>
    <%= favicon_link_tag 'logo.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="menu">
      <%= link_to image_tag("logo.ico", :alt => "logo", :class => "logo"), root_path %>


      <ul class="nav-link">
        <li><%= link_to 'Posts', controller: '/posts' %></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
